body {
  background-image: url(Photos/skyBackground.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
  z-index: 9;
  color: #03045e;
  font-size: 50px;
}

#problemForm {
  margin: 10px auto;
  padding: 50px 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 9;
}

#answerField {
  height: 100px;
  width: 100px;
  font-size: 50px;
  text-align: center;
  margin: 20px auto;
  z-index: 9;
  background-color: #e3e7e9;
}

#problemForm h2 {
  color: #2f7761;
  margin: 20px auto;
  font-size: 80px;
  z-index: 9;
}

#submitButton {
  margin: 20px auto;
  background-color: #52b788;
  color: #081c15;
  width: 90px;
  height: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  z-index: 9;
}

#submitButton:hover {
  box-shadow: 5px 3px 3px #081c15;
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.neutralDiv {
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.correctDiv0 {
  width: 1000px;
  height: 500px;
  background-color: transparent;
  position: absolute;
  bottom: 200px;
  margin: auto;
  z-index: 7;
  box-sizing: border-box;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border: 50px solid #f94144aa;
  border-bottom: 0;
}

.correctDiv1 {
  width: 900px;
  height: 450px;
  background-color: transparent;
  position: absolute;
  bottom: 200px;
  margin: auto;
  z-index: 7;
  box-sizing: border-box;
  border-top-left-radius: 450px;
  border-top-right-radius: 450px;
  border: 50px solid #f3722caa;
  border-bottom: 0;
}

.correctDiv2 {
  width: 800px;
  height: 400px;
  background-color: transparent;
  position: absolute;
  bottom: 200px;
  margin: auto;
  z-index: 7;
  box-sizing: border-box;
  border-top-left-radius: 400px;
  border-top-right-radius: 400px;
  border: 50px solid #f9c74faa;
  border-bottom: 0;
}

.correctDiv3 {
  width: 700px;
  height: 350px;
  background-color: transparent;
  position: absolute;
  bottom: 200px;
  margin: auto;
  z-index: 7;
  box-sizing: border-box;
  border-top-left-radius: 350px;
  border-top-right-radius: 350px;
  border: 50px solid #43aa8baa;
  border-bottom: 0;
}

.correctDiv4 {
  width: 600px;
  height: 300px;
  background-color: transparent;
  position: absolute;
  bottom: 200px;
  margin: auto;
  z-index: 7;
  box-sizing: border-box;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  border: 50px solid #277da1aa;
  border-bottom: 0;
}

.correctDiv5 {
  width: 500px;
  height: 250px;
  background-color: transparent;
  position: absolute;
  bottom: 200px;
  margin: auto;
  z-index: 7;
  box-sizing: border-box;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  border: 50px solid #735d78aa;
  border-bottom: 0;
}

.correctDiv6 {
  width: 400px;
  height: 200px;
  background-color: transparent;
  position: absolute;
  bottom: 200px;
  margin: auto;
  z-index: 7;
  box-sizing: border-box;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border: 50px solid #cdb4dbaa;
  border-bottom: 0;
}

footer {
  position: fixed;
  width: 100%;
  height: 200px;
  background-color: #03045e;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer p {
  color: white;
  height: fit-content;
  margin: 0;
}

#backgroundPhotoAtt {
  font-size: 12px;
  text-align: center;
}

#backgroundPhotoAtt a {
  text-decoration: none;
  color: #bde0fe;
}

#creatorInfo {
  font-size: 18px;
  text-align: center;
  margin: 10px auto 15px;
}

#creatorInfo a {
  text-decoration: none;
  color: #bde0fe;
}